/* MOBILE FIRST */
/* GENERAL */
/* html{
    scroll-behavior: smooth;
} */

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}

body a{
    color: rgb(42, 148, 255);
}

body h3{
    font-size: 1.8em;
}

h2,
h3, 
h4, 
h5{
    font-weight: bold;
}

body{ 
    padding-top: 70px; 
}
/* UTILITIES */
.bd{
    border: 1px solid #000;
}

.relative{
    position: relative;
}

.mb-30{
    margin-bottom: 30px;
}

.buttons{
    line-height:1;
    padding: 8px;
    color: #2982ff;
    border: 1px solid currentColor;
    border-radius: 5px;
}

.padding-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.white-words{
    color: #fff;
}

.bg-grey{
    background-color: #f3f5f9;
}

/* HEADER */
header{
    line-height: 70px;
    background-color: #fff;
}

header ul{
    margin-bottom: 0;
}

header ul li{
    display: inline-block;
    margin: 0 5px;
}

header ul a{
    color: black;
    transition: color .3s;
}

header ul a:hover{
    color: #2982ff;
}


header nav .fa-chevron-down{
    vertical-align: middle;
    margin-left: 2px;
    font-size: 0.7em;
    color: currentColor;
}

/* -LOGO */
header .relative{
    height: 70px;
}

header img{
    width: 180px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
/* -NAVBAR LEFT */

/* NAVBAR RIGHT */
header i{
    vertical-align: middle;
    font-size: 1.5em;
    color: #2586fd;
}

/* MAIN */
/* -HERO */
.hero{
    background-image: url("../img/bg-banner-home.jpg");
}

.hero h1{
    padding-top: 20px;
    font-size: 2.4em;
}

.hero p{
    font-size: 1.3em;
    color: rgba(255, 255, 255, .8);
}

.hero .create-your-account{
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.hero .create-your-account a > h3{
    margin-top: 0;
    color: #2586fd;
}

.hero .create-your-account input{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.hero .create-your-account .button-create{
    margin-bottom: 15px;
    color: #fff;
    background-color: #2586fd;
}

.hero .create-your-account .button-google{
    color: black;
    background-image: url("../img/google-icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    margin-bottom: 15px;
}

.hero .create-your-account a:last-child{
    text-decoration: underline;
    color: #2586fd;
}

/* -CUSTOMERS */
main .customers img{
    display: inline-block;
    width: 38%;
}

.customers img:nth-child(odd){
    margin-right: 30px;
}

/* -DEPLOY AND SCALE SEAMLESSY */
main .deploy-and-scale ul{
    padding-left: 10px;
    list-style: none;
    line-height: 2em;
    border-left: 2px solid grey;
}

main .deploy-and-scale ul a{
    color: grey;
    text-decoration: none;
}
/* -SLIDE1 */
main .slide1{
    padding-left: 15px;
    padding-right: 15px;
}

main .slide1 .content-for-developers{
    font-size: 1.3em;
}

main .slide1 .card{
    width: 70%;
    margin: 80px auto 0px;
}

main .slide1 .description-card{
    margin-top: 20px;
    font-size: .9em;
}

main .slide1 .slide-counter{
    margin-top: 60px;
}

main .slide1 .slide-counter i{
    font-size: 0.6em;
    color: dodgerblue;
}

main .slide1 .arrows-slide a:first-child i{
    position: absolute;
    top: 50%;
    right: 102%;                 
    transform: translate(0, -50%);
    font-size: 1.5em;
    color: rgb(141, 134, 134);
}

main .slide1 .arrows-slide a:last-child i{
    position: absolute;
    top: 50%;
    left: 102%;
    transform: translate(0, -50%);
    font-size: 1.5em;
}

/* -THE FEATURES */

/* -TABLE SERVICE */

/* -SLIDE2 */

/* -GET STARTED NOW */

/* FOOTER */

/* HELP SHARK */

/* MEDIA QUERIES */
/* TABLET RESPONSIVE SM >768 */
@media screen and (min-width: 768px) {
    /* GENERAL */
    body{
        font-size: 21px;
    }

    /* MAIN */
    /* CUSTOMERS */
    main .customers h6{
        font-size: 1em;
    }

    main .customers img{
        width: 13%;
    }

    main .customers img:not(:last-child){
    margin-right: 20px;
    }

    /* SLIDE1 */
    main .slide1 .card{
    width: 60%;
}
    /* THE FEATURES */
    main .the-features .row > div{
        margin-bottom: 0;
    }

/* DESKTOP RESPONSIVE MD >992 */
@media screen and (min-width: 992px){
      /* GENERAL */
    body{
        font-size: 23px;
    }

    /* HERO */
    .hero h1{
    margin-top: 0;
    font-weight: bold;
    font-size: 3.3em;
    }

    /* SLIDE1 */
    main .slide1 .slide-counter{
        margin-top: 5px;
    }
}