/* MOBILE FIRST */
/* GENERAL */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h2,
h3, 
h4, 
h5{
    font-weight: bold;
}

body{ 
    padding-top: 70px; 
}
/* UTILITIES */
.bd{
    border: 1px solid #000;
}

.relative{
    position: relative;
}

.buttons{
    line-height:1;
    padding: 8px;
    color: #2982ff;
    border: 1px solid currentColor;
    border-radius: 5px;
}

.padding-section{
    padding-top: 40px;
    padding-bottom:40px;
}

.white-words{
    color: #fff;
}

/* HEADER */
header{
    line-height: 70px;
    background-color: #fff;
}

header ul{
    margin-bottom: 0;
}

header ul li{
    display: inline-block;
    margin: 0 5px;
}

header ul a{
    color: black;
    transition: color .3s;
}

header ul a:hover{
    color: #2982ff;
}


header nav .fa-chevron-down{
    vertical-align: middle;
    margin-left: 2px;
    font-size: 0.7em;
    color: currentColor;
}

/* -LOGO */
header .relative{
    height: 70px;
}

header img{
    width: 180px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
/* -NAVBAR LEFT */

/* NAVBAR RIGHT */
header i{
    vertical-align: middle;
    font-size: 1.5em;
    color: #2586fd;
}

/* MAIN */
/* -HERO */
.hero{
    background-image: url("../img/bg-banner-home.jpg");
}

.hero h1{
    padding-top: 20px;
    font-size: 2.4em;
}

.hero p{
    font-size: 1.3em;
    color: rgba(255, 255, 255, .8);
}

.hero .create-your-account{
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 5px;
}

.hero .create-your-account a > h3{
    margin-top: 0;
    color: #2586fd;
}

.hero .create-your-account input{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.hero .create-your-account .button-create{
    margin-bottom: 15px;
    color: #fff;
    background-color: #2586fd;
}

.hero .create-your-account .button-google{
    color: black;
    background-image: url("../img/google-icon.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    margin-bottom: 15px;
}

.hero .create-your-account a{
    text-decoration: underline;
    color: #2586fd;
}


/* -CUSTOMERS */

/* -DEPLOY AND SCALE SEAMLESSY */

/* -SLIDE1 */

/* -THE FEATURES */

/* -TABLE SERVICE */

/* -SLIDE2 */

/* -GET STARTED NOW */

/* FOOTER */

/* HELP SHARK */

/* MEDIA QUERIES */
/* TABLET RESPONSIVE SM >768 */
@media screen and (min-width: 768px) {
    /* GENERAL */
    *{
        font-size: 17px;
    }
}
/* DESKTOP RESPONSIVE MD >992 */
@media screen and (min-width: 992px){
      /* GENERAL */
    *{
        font-size: 18px;
    }

    /* HERO */
    .hero h1{
        /* padding-top: 0; */
        margin-top: 0;
        font-weight: bold;
        font-size: 3.3em;
    }
}